@import '../../../assets/scss/colors';

header {
    background-color: white;
    height: 55px;
    box-shadow: 1px 1px 10px #f1f1f1;
    .logo {
        padding: 13px 0;
        cursor: pointer;
    }
    .search-area {
        padding: 8px 0;
        position: relative;
        i {
            position: absolute;
            top: 17px;
            right: 10px;
            color: #969696;
        }
    }
    .fa-shopping-cart {
        color: $red-c;
    }
}