.header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.main-inner-body {
    padding: 55px 0 0 0;
    .main-container {
        height: 100%;
        background-color: white;
        padding: 20px 10px 10px 10px;
    }
}