@import '../../../assets/scss/colors';

.sidebar {
    background-color: white;
    height: 100%;
    h6 {
        padding: 20px 10px 10px 10px;
        color: $dark-c;
    }
    ul {
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            padding: 5px 10px;
            cursor: pointer;
            transition: 0.3s;
            &:hover, &.active {
                background-color: black;
                background: #f9f9f9;
                color: $red-c;
                font-weight: 500;
            }
        }
    }
}